*{
    margin: 0;
    padding: 0;
}
.douban-sousuo{
    width: 100%;
    background-color: #f0f3f5;   
}
.douban-sousuo header{
    width: 1040px;
    margin: 0 auto;
    overflow: visible !important;
    position: relative;
    padding: 20px 0 5px;
    zoom: 1;
    margin-bottom: 20px;
}

.sousuo-search fieldset{
    border: none;
    padding: 0;
    margin: 0;
    position: static;
}
.sousuo-search .inp{
    float: left;
    width: 470px;
    height: 34px;
    text-align: center;
    margin-right: -3px;
    cursor: text;
}
.sousuo-search .inp input{
    background: #fff;
    width: 96%;
    margin: 0;
    text-align: left;
    height: 31.5px;
    padding-left: 10px;
    margin-left: 40px;
    height: 28px\9;
    line-height: 28px\9;
    outline: none;
    border: none;
    box-shadow: 2px 1px 1px 0px #ccc;
    border-radius:4px 0 0 4px ; 
}

.inp-btn{
    position: relative;
    left: -1px;
    width: 37px;
    height: 34px;
    zoom: 1;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    float: left;
    margin-left: 34px;
}
.inp-btn input{
    width: 100%;
    height: 100%;
    font-size: 0;
    padding: 35px 0 0 0;
    overflow: hidden;
    color: transparent;
    cursor: pointer;
    background-image: url("../image/j.png");
    background-position:-2px  35px;
}
.sousuo-search{
    float: left;    
}
.logo{
    float: left;
}
.both{
    clear: both;
}
.douban-sousuo-hr{
    width: 100%;
    padding: 10px 0 10px;
    border-top:1px solid #ddd; 
}